body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #000;
  background-color: #fff;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.links {
  padding: 50px;
}

.links a {
  display: inline-block;
  margin: 0 30px;
}

.links a img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
}

.links a:hover img {
  transform: scale(1.1,1.1);
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0 100px;
}

.logo img {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.center h2 {
  margin-top: 120px ;
  font-size: 40px;
}

/* Tablets and smaller */
@media (max-width: 992px) {
  
  /* Condensed icon spacing */
  .links {
    padding: 20px;
  }
  
  .links a {
    margin: 0 10px;
  }
  
  /* Less space between logo and center text */
  .center h2 {
    margin-top: 50px ;
  }
  
}