@charset "utf-8";

@import "./theme.scss";

// Font weight helpers
@for $i from 1 through 9 {
    .is-text-weight-#{$i * 100} {
        font-weight: #{$i * 100};
    }
}

// Margin helpers
@for $i from 1 through 6 {
    .is-margin-bottom-#{$i} {
        margin-bottom: #{$i}rem;
    }
}

html {
    overflow: auto;
}

.not-very-wide {
    max-width: 33rem;
}

.not-super-wide {
    max-width: 36rem;
}

.wide {
    width: 100%;
}

.big-art {
    background-image: url("../../assets/cool-art.png");
    background-position: center, center;
    justify-content: center;
    position: relative;
}

.section {
    height: 100vh;
}

.caption {
    position: absolute;
    @media screen and (min-width: $mobile-breakpoint) {
        right: 1em;
    }
    bottom: 1em;
    color: $white-ter;

    a {
        color: $white-ter;
    }
}

.top-margin-on-desktop {
    @media screen and (min-width: $mobile-breakpoint) {
        padding-top: 10rem;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 0 2rem 0 2rem;
    }
}

#desktop-side-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: 100vh;
}

#mobile-top-image {
    visibility: hidden;
    // Don't let this screw up the desktop layout by being invisible but still having dimensions
    height: 0;
    width: 0;
}

@media screen and (max-width: $mobile-breakpoint) {
    #mobile-top-image {
        visibility: visible;
        height: 270px;
        width: initial;
    }
    #desktop-side-image {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

#after-register-message {
    background-color: $white-ter;
    padding: 1rem 1.75rem;
    border-radius: $radius;
}

#verified-modal > .modal-content {
    background-color: $white;
    padding: 3rem;
    border-radius: 2px;
}
