@charset "utf-8";

@import "./theme.scss";

// Font weight helpers
@for $i from 1 through 9 {
    .is-text-weight-#{$i * 100} {
        font-weight: #{$i * 100};
    }
}

// Margin helpers
@for $i from 1 through 6 {
    .is-margin-bottom-#{$i} {
        margin-bottom: #{$i}rem;
    }
}

html {
    overflow: hidden;
}

.not-very-wide {
    max-width: 33rem;
}

.not-super-wide {
    max-width: 36rem;
}

.wide {
    width: 100%;
}

.big-art {
    background-image: url("../../assets/cool-art.png");
    background-position: center, center;
    justify-content: center;
    position: relative;
}

.section,
.columns {
    height: 100vh;
}

.column > .caption {
    position: absolute;
    bottom: 1rem;
}

.main-column {
    padding-top: 16rem;
}

#after-register-message {
    background-color: $white-ter;
    padding: 1rem 1.75rem;
    border-radius: $radius;
}

a {
    text-decoration: underline;
}

#verified-modal > .modal-content {
    background-color: $white;
    padding: 3rem;
    border-radius: 2px;
}
